<div class="container-fluid" id="login">
	<div class="row center-vertical">
		<div class="col-xs-12 flex">
			<%=	image_tag "header.jpg", class: "header" %>			
		</div>		
		<div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
			<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "center"} ) do |f| %>
				<div class="form-group">
					<h4>ID Number:</h6>
					<%= f.text_field :student_id, as: "number", class: "form-control", autofocus: true %>
				</div>
				
				<div class="field">
					<h4>Password:</h6>
					<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
				</div>

				<% if devise_mapping.rememberable? -%>
					<div class="row" style="margin-bottom:40px;">
						<div class="field flex">
							<%= f.check_box :remember_me, style: "float: left;" %>
							<%= f.label :remember_me, class: "checkbox-inline", style: "float:left;margin-top:5px;font-weight:400"%>
					  	</div>
				  	</div>
				<% end -%>

				<div class="actions row">
					<%= f.submit "LOGIN", class: "btn btn-default center" %>
				</div>
				<div class="row links text-center">
			        <%= render "devise/shared/links" %>  
		        </div>
		        
			<% end %>
		</div>
	</div>
</div>