<div class="container-fluid" id="login">
  <div class="row center-vertical">
    <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
      <div class="col-xs-12 flex">
        <%= image_tag "header.jpg", class: "header" %>      
      </div>
      <% if notice %>
      <p class="notice text-center"><%= notice %></p>
      <% elsif alert %>
      <p class="alert text-center"><%= alert %></p>
      <%end%>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:"center"}) do |f| %>
        <%= devise_error_messages! %>
          <div class="row">
            <div class="field col-xs-12">
                <h4>ID Number:</h4>
                <%= f.number_field :student_id, as: "number", class:"form-control", autofocus: true %>
            </div>
          </div>
          <div class="row">
            <div class="field col-xs-12">
                <h4>Password:</h4>
                <%= f.password_field :password, class:"form-control", autocomplete: "off", style: "margin-bottom:5px;" %>
                <h6 style="margin-bottom:5px;">Note:</h6>
                <h6 style="line-height:1.5em;margin-top:0;">If you haven't changed your password, enter the username you used to register for this account.</h6>
                <br><br>
            </div>

          </div>

        <div class="actions row">
          <%= f.submit "LOGIN", class: "btn btn-default center" %>
        </div>
        <div class="row links text-center">
          <%= render "devise/shared/links" %> 
        </div>
        
      <% end %>

    </div>
  </div>
</div>