<div class="container with-fixed-navbar">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h4 class="center-align" style="color:green"><%= flash[:success] %></h4>
      <h4 class="center-align" style="color:red"><%= flash[:alert] %></h4>
      <% if @account.final_writeup? %>
        <h3 class="text-center text-bold">Yearbook Write-up</h3>
      <% else %>
        <% if @account.writeup.present? %>
          <h3 class="center-align text-bold">Edit Write-up</h1>
        <% else %>
          <h3 class="center-align text-bold">Submit Write-up</h1>
        <% end %>
        <h5 class="text-center">Writeups should not exceed more than 500 CWS (Characters with Spaces).</h5>
      <% end %>
      
    </div>
  </div>
  <br>
  <div class="row">
    <% if @account.final_writeup? %>
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 card-index card-success lighter-blue write-up-final" style="padding-bottom:40px;">
        <p><%=@account.writeup.gsub(/\n/, '<br />').html_safe%></p>
      </div>      
    <% else %>
      <%= simple_form_for current_account do |f| %>
        <% if current_account.errors.any? %>
          <% current_account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
        <div class="field col-md-offset-3 col-md-6 col-xs-10 col-xs-offset-1">
          <div class="text-center" style="margin-bottom:30px;">
            <label class="radio-inline" style="margin-right:15px;">
              <input type="radio" name="inlineRadioOptions" id="originalwriteup" value="option3"> Original write-up
            </label>
            <label class="radio-inline" style="margin-right:15px;">
              <input type="radio" name="inlineRadioOptions" id="emptywriteup" value="option1"> Empty write-up
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="genericwriteup" value="option2"> Generic write-up
            </label>
          </div>
          <p class="cws text-center"></p>
          <div class="form-group">
            <%= f.text_area :writeup, rows: "10", :class => "writeup form-control", :maxlength => 505 %>
          </div>
          
        </div>
        <div class="actions col-xs-12">
          <div class="row text-center">
            <% if @account.writeup.present? %>
              <div class="float-left" style="margin-right: 20px">
                <button type="button" class="lighter" data-toggle="modal" data-target="#writeup-modal" id="prevent-submit">SUBMIT FINAL WRITE-UP</button>
              </div>
            <% end %>
            <div class="float-left">
              <%= f.submit :id => "writeup-submit", :class => "writeup-submit", :name => "writeup_submit", :value => "SAVE DRAFT", class: "center" %>
            </div>
          </div>
          <div class="modal fade bs-example-modal-sm" id="writeup-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-md" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title center-align" id="myModalLabel">Your yearbook write-up:</h4>
                </div>
                <div class="modal-body">
                  <div id="writeup-preview" class="center">
                    <p></p>  
                  </div>                  
                  <div class="row text-center">
                    <div class="float-left" style="margin-right:20px;">
                      <%= f.submit :id => "writeup-submit", :class => "writeup-submit", :name => "account_submit", :value => "SUBMIT FINAL WRITE-UP", class: "center" %>  
                    </div>
                    <div class="float-left">
                      <button class="lighter" data-dismiss="modal" aria-label="Close">CANCEL</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    
  </div>
</div>